{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
		<li>
            <a href="{{@custom.github_url}}" target="_blank" style="text-decoration: none;display:grid">
                <i class="iconfont icon-github" style="font-size:32px;text-align: center;" data-original-title="{{t "访问我的GitHub"}}" data-rel="tooltip"></i>GitHub
            </a>
        </li>
        <li>
            <a href="{{@custom.gitee_url}}" target="_blank" style="text-decoration: none;display:grid">
                <i class="iconfont icon-gitee" style="font-size:32px;text-align: center;" data-original-title="{{t "访问我的码云"}}" data-rel="tooltip"></i>码云
            </a>
        </li>
		
        <li>
            <a href="{{@custom.zhihu_url}}" target="_blank" style="text-decoration: none;display:grid">
                <i class="iconfont icon-zhihu" style="font-size:32px;text-align: center;" data-original-title="{{t "访问我的知乎"}}" data-rel="tooltip"></i>知乎
            </a>
        </li>
        <li>
            <a href="{{@custom.bilibili_url}}" target="_blank" style="text-decoration: none;display:grid">
                <i class="iconfont icon-bilibili" style="font-size:32px;text-align: center;" data-original-title="{{t "访问我的B站"}}" data-rel="tooltip"></i>B站
            </a>
        </li>
    </ul>
</nav>
